In [48]:
from google.colab import drive
import os
import pandas as pd

In [49]:
drive.mount('./drive')

Drive already mounted at ./drive; to attempt to forcibly remount, call drive.mount("./drive", force_remount=True).

In [50]:
data_dir = os.path.join("drive", "MyDrive", "cars")
train_dir = os.path.join(data_dir, "train")
val_dir = os.path.join(data_dir, "val")

In [51]:
classes = sorted(os.listdir(train_dir))
n_classes = len(classes)
assert classes == sorted(os.listdir(val_dir))

In [52]:
print("Total number of classes: ", n_classes)
for i, class_ in enumerate(classes):
  print("#", i+1, "\t", class_)

Total number of classes:  16
# 1 	 beige
# 2 	 black
# 3 	 blue
# 4 	 brown
# 5 	 cream
# 6 	 crimson
# 7 	 gold
# 8 	 green
# 9 	 grey
# 10 	 navy-blue
# 11 	 orange
# 12 	 red
# 13 	 silver
# 14 	 titanium
# 15 	 white
# 16 	 yellow

In [53]:
colors = pd.Series(classes)

n_train, n_val = list(), list()
for class_ in classes:
  n_train.append(len(os.listdir(os.path.join(train_dir, class_))))
  n_val.append(len(os.listdir(os.path.join(val_dir, class_))))

n_train = pd.Series(n_train)
n_val = pd.Series(n_val)

In [67]:
df_dict = {
           "color": colors,
           "train": n_train,
           "validation": n_val,
           "total": n_train + n_val,
           "trainx0.2": n_train * .2,
           "combined-in-train": n_train * .2 <= n_val
           }
df = pd.DataFrame(df_dict)
df

        color  train  validation  total  trainx0.2  combined-in-train
0       beige    950         124   1074      190.0              False
1       black   1235         298   1533      247.0               True
2        blue   1102         275   1377      220.4               True
3       brown    951         237   1188      190.2               True
4       cream    300          33    333       60.0              False
5     crimson    223           9    232       44.6              False
6        gold    300          25    325       60.0              False
7       green    804          46    850      160.8              False
8        grey   1373         343   1716      274.6               True
9   navy-blue    290          45    335       58.0              False
10     orange    762          47    809      152.4              False
11        red   1040         259   1299      208.0               True
12     silver    845         211   1056      169.0               True
13   titanium    300          54    354       60.0              False
14      white   5744        1435   7179     1148.8               True
15     yellow    824          54    878      164.8              False

In [68]:
df[df['combined-in-train']]

     color  train  validation  total  trainx0.2  combined-in-train
1    black   1235         298   1533      247.0               True
2     blue   1102         275   1377      220.4               True
3    brown    951         237   1188      190.2               True
8     grey   1373         343   1716      274.6               True
11     red   1040         259   1299      208.0               True
12  silver    845         211   1056      169.0               True
14   white   5744        1435   7179     1148.8               True

Above colors include modified images from both datasets (i.e. kaggle 
[VCoR](https://www.kaggle.com/datasets/landrykezebou/vcor-vehicle-color-recognition-dataset) and [Shenasa](https://shenasa-ai.ir/))

And other colors just include modeified images from kaggle VCoR dataset. Becuase I want the validation set, only includes Shenas images.

In [72]:
df.drop(['combined-in-train', 'trainx0.2'], axis=1).to_csv('dataset-info.csv')